#gamebox {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  justify-content: center;
  width: 20vmin;
  height: 20vmin;
  align-items: center;
}



.slide {
  width: 20vmin;
  height: 20vmin;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  display: flex;
  background-color: black;
}

.game {
  left : 240px;
}

.heading {
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  color: red;
  background-color: black;
  left : 450px;
}

.imageselection {
  font-size: 16px;
  /* color: red; */
}